html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

* {
  color: #FFF; }

body {
  margin: 0;
  display: flex;
  flex-direction: column; }

.navbar {
  width: 100%;
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center; }
  .navbar ul {
    display: flex;
    justify-content: space-between;
    width: 65%;
    align-items: baseline;
    margin: 0 3em; }
    .navbar ul li {
      flex-direction: row;
      list-style: none; }
  @media only screen and (max-width: 915px) {
    .navbar {
      flex-direction: column; }
      .navbar ul {
        width: 75%; } }
  @media only screen and (max-width: 530px) {
    .navbar ul {
      flex-direction: column;
      align-items: center;
      padding: 0; } }

.main-pic {
  display: flex;
  flex-direction: column;
  content: "";
  background-image: url("../img/bg-1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  height: 50rem;
  width: 100vw;
  padding: 0; }

.search {
  flex-basis: 100px;
  background: #353535;
  display: flex; }

.sub-pictures {
  display: flex;
  flex-wrap: wrap; }
  .sub-pictures [class*="big-img-"] {
    flex: 2;
    flex-basis: 480px;
    height: 420px; }
  .sub-pictures [class*="small-img-"] {
    flex: 1;
    flex: 240px;
    height: 420px; }
  @media only screen and (max-width: 530px) {
    .sub-pictures [class*="-img-"] {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      margin: 15px;
      height: 250px; }
      .sub-pictures [class*="-img-"]:last-child {
        margin-right: 0; } }

.big-img-1 {
  content: "";
  background-image: url("../img/home-raft.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden; }

.big-img-2 {
  content: "";
  background-image: url("../img/home-custom.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden; }

.small-img-1 {
  content: "";
  background-image: url("../img/home-basecamp.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden; }

.small-img-2 {
  content: "";
  background-image: url("../img/home-backpacking.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden; }

.small-img-3 {
  content: "";
  background-image: url("../img/home-canoe.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden; }

.small-img-4 {
  content: "";
  background-image: url("../img/home-photo.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden; }

.logo img {
  height: 3em; }

/*# sourceMappingURL=application.css.map */
