.main-pic {
  display: flex;
  flex-direction: column;
  @include background-img("../img/bg-1.jpg");
  height: 50rem;
  width: 100vw;
  padding: 0;


}

.search {
  flex-basis: 100px;
  background: $navbar;
  display: flex;
}

.sub-pictures {
  display: flex;
  flex-wrap: wrap;
  [class*="big-img-"]{
    flex: 2;
    flex-basis: 480px;
    height: 420px;
  }
  [class*="small-img-"] {
    flex: 1;
    flex: 240px;
    height: 420px;
  }
  @media only screen and (#{$break-mobile}) {
    [class*="-img-"] {
      @include span-columns(12);
      margin: 15px;
      height: 250px;
    }
  }
}

.big-img-1{
  @include background-img("../img/home-raft.jpg");
}

.big-img-2{
  @include background-img("../img/home-custom.jpg");
}

.small-img-1{
  @include background-img("../img/home-basecamp.jpg");
}
.small-img-2{
  @include background-img("../img/home-backpacking.jpg");
}
.small-img-3{
  @include background-img("../img/home-canoe.jpg");
}
.small-img-4{
  @include background-img("../img/home-photo.jpg");
}
