.main-pic {
  display: flex;
  flex-direction: column;
  background-image: url("../img/bg-1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50rem;
  width: 100vw;
  padding: 0;
  position: relative;
  overflow: hidden;

}
.navbar {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-basis: 200px;
  align-items: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  ul {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 0 3em;
    li {
      flex-direction: row;
      list-style: none;
    }
  }

    @media only screen and (#{$break-tablet}) {
      flex-direction: column;
    }
  }
