@mixin non-selected-button {
  color: desaturate($accent-color, 30%);

};

@mixin background-img($img-name) {
  content: "";
  background-image: url($img-name);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: -1;
  overflow: hidden;
}

@mixin buttons($button-color) {

  border-radius: 50%;
  background: transparentize($button-color, 0.5);
  margin: 0;
  padding: 1.75em 1.75em;
  border: none;
  box-shadow: none;
  transition: background 3s ease-in-out;
  &:hover {
    transform: scale(1.1);
    background: transparentize($button-color, 0.3);
  }
  img {
    height: 50px;
    width: 50px;
  }
}
